extends layout

block prepend head
	- const title = 'Скалодромы';

block content
	h1 Скалодромы

	#halls
		each hall in halls
			.hall-item
				span.h3
					a(href=`/halls/${hall.id}/routes`) #{hall.name}
				| 
				small.text-muted #{hall.city.name}

	if emptyHalls.length
		hr

		h2 Скалодромы без трасс

		#empty-halls
			each emptyHall in emptyHalls
				.hall-item
					span.h3 #{emptyHall.name}
					| 
					small #{emptyHall.city.name}
