extends layout

block content
	h1 Скалодромы

	each hall in halls
		.hall-item
			span.h3
				a(href=`/halls/${hall.id}/routes`) #{hall.name}
			| 
			smal.text-muted #{hall.city.name}

	hr

	h2 Скалодромы без трасс

	each emptyHall in emptyHalls
		.list-item
			span.h3 #{emptyHall.name}
			| 
			smal #{emptyHall.city.name}
