extends ../../layout

block prepend head
	- const title = 'Трассы';

block content

	ul.breadcrumb
		li.breadcrumb-item
			a(href=`/halls`) Скалодромы
		li.breadcrumb-item.active
			| #{hall.title}

	h1 Трассы

	#routes-sort-rules Сортировка: 
		if (sortBy !== 'createDate')
			| сложность, 
			a(href=`/halls/${hall.id}/routes/?sortBy=createDate`) добавлено
		else
			a(href=`/halls/${hall.id}/routes/`) сложность
			|, добавлено

	#routes
		each route in routes
			.route-item
				span.h3.text-capitalize
					a(href=`/halls/${hall.id}/routes/${route.id}`) #{route.title}
				| 
				small.text-muted #{route.grade.title}
