extends ../../layout

block prepend head
	- const title = 'Трассы';

block content

	ul.breadcrumb
		li.breadcrumb-item
			a(href=`/halls`) Скалодромы
		li.breadcrumb-item.active
			| #{hall.title}

	h1 Трассы

	#routes-sort Сортировка: 
		each sortTitle, sortRule in sortersTitleHash
			if (sort === sortRule)
				| #{sortTitle}
			else
				a(href=`/halls/${hall.id}/routes/?sort=${sortRule}`) #{sortTitle}
				
			if (Object.keys(sortersTitleHash)[Object.keys(sortersTitleHash).length - 1] !== sortRule)
				|, 
		
	#routes
		each route in routes
			.route-item
				span.h3.text-capitalize
					a(href=`/halls/${hall.id}/routes/${route.id}`) #{route.title}
				| 
				small.text-muted #{route.grade.title}
