extends ../../layout

block prepend head
	- const title = 'Трассы';

block content

	ul.breadcrumb
		li.breadcrumb-item
			a(href=`/halls`) Скалодромы
		li.breadcrumb-item.active
			| #{hall.title}

	h1 Трассы

	#routes-sort Сортировка: 
		- const sorterNames = Object.keys(sorterTitlesHash);

		each name, index in sorterNames
			- const title = sorterTitlesHash[name];

			if (name === sort)
				| #{title}
			else
				a(href=`/halls/${hall.id}/routes/?sort=${name}`) #{title}

			if (index < sorterNames.length - 1)
				|, 
		
	#routes
		each route in routes
			.route-item
				span.h3.text-capitalize
					a(href=`/halls/${hall.id}/routes/${route.id}`) #{route.title}
				| 
				small.text-muted #{route.grade.title}
