extends ../../layout

block prepend head
	- const title = `Трасса «${route.title}»`;

block content

	ul.breadcrumb
		li.breadcrumb-item
			a(href=`/halls`) Скалодромы
		li.breadcrumb-item
			a(href=`/halls/${route.hall.id}/routes`) #{route.hall.name}
		li.breadcrumb-item.active
			span.text-capitalize #{route.title}
			| 
			small.text-muted #{route.grade.title}

	#route-fields
		if route.author
			div
				| Автор: #{route.author.fullName}
		div
			| Добавлена: #{formatDate(route.createDate)}

	#route-photos
		.row
			each photo in route.photos
				.col-md-12.col-lg-6.img-item.route-photo-item
					img.img-fluid(src=photo.url)

					if photo.description
						strong
							.text-center #{photo.description}

	if route.finishedUsers.length
		#route-finished-users
			strong
				| Трассу прошли:
			ul(style="margin-top: 10px;")
				each finishedUser in route.finishedUsers
					li
						span.route-finished-user-item-full-name
							| #{finishedUser.fullName}
						| 
						small.text-muted.route-finished-user-item-create-date
							| #{formatDate(finishedUser.createDate)}
