extends ../../layout

block prepend head
	- const title = `Трасса «${route.title}»`;

block append script
	script
		include ../../../public/javascripts/pages/halls/routes/view.js

block content

	ul.breadcrumb
		li.breadcrumb-item
			a(href=`/halls`) Скалодромы
		li.breadcrumb-item
			a(href=`/halls/${route.hall.id}/routes`) #{route.hall.name}
		li.breadcrumb-item.active
			span.text-capitalize #{route.title}
			| 
			small.text-muted #{route.grade.title}

	#route-fields
		if route.author
			div
				| Автор: #{route.author.fullName}
		div
			| Добавлена: #{formatDate(route.createDate)}

	#route-photos
		.row
			each photo, index in route.photos
				.col-md-12.col-lg-6.img-item.route-photo-item

					.row
						.offset-sm-5.col-sm-1
							- const loaderId = 'route-photo-loader-' + index;
							.route-photo-loader.loader.text-center(id= loaderId)

					img.img-fluid.route-photo(
						src=photo.url,
						style="display: none;",
						data-loader-selector='#' + loaderId
					)

					if photo.description
						strong
							.text-center #{photo.description}

	if route.finishes.length
		#route-finished-users
			strong
				| Трассу прошли:
			ul(style="margin-top: 10px;")
				each finish in route.finishes
					li
						span.route-finished-user-item-full-name
							| #{finish.user.fullName}
						| 
						small.text-muted.route-finished-user-item-create-date
							| #{formatDate(finish.createDate)}
